.blog-post {
    max-width: 960px;
    margin: 0 auto;
    
    .blog-post-title {
        font-weight: 700;
        text-align: center;
        margin-top: 2rem;
    }

    .blog-post-title-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
        margin-bottom: 50px;
    }

    .blog-post-date {
        font-family: "Merriweather", sans-serif;
        display: block;
        color: #999;
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3rem;
    }

    .blog-post-content {
        font-family: "Merriweather", sans-serif;
        // font-weight: 300;
        // color: #555555;
        margin-bottom: 5rem;
        
        p {
            font-size: 18px;
            margin-bottom: 1.5rem;
            line-height: 2;
        }

        pre {
            padding: 1.5rem;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .blog-post-author {
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        padding: 2rem;
        margin-bottom: 3rem;
        strong {
            display: block;
        }
    }
}