
#cto-guide {
  .col-md-8 {
    margin: 0 auto;
    }

  .col-md-9 {
    margin: 0 auto;
    }

  .card {
    border: 1;
    margin-bottom: 2rem;
    }

  h3 {
    font-family: 'Open Sans', Roboto;
    font-size: 20Px;
    font-weight: 500;
    color: #05385F;
    margin: 0;
    }
  h5 {
    margin-top: 1.5rem;
    }
  }

