/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'fontello.scss';
@import 'blog-list.scss';
@import 'blog.scss';
@import 'pagination.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';
// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

* {
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
    // word-break: keep-all;
    // font-size: 18px;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #343a40;
    line-height: 1.3em;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

// Buttons
.btn-primary {
    border-radius: 3px !important;
    font-weight: 600;
    font-size: 1.2rem;
}

.btn-secondary {
    border-radius: 3px !important;
    background-color: #859099;
}

blockquote {
    margin: 22px 22px;
    padding: 0 20px;
    border-left: 3px solid #000000;
    border-color: $primary;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.5em;
}

nav {
    z-index: 100;
    border-bottom: 1px solid #efefef;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    z-index: 401;
}

.leaflet-pane {
    z-index: 1 !important;
}

.navbar-collapse {
    text-align: center;
    form {
        justify-content: center;
    }
    .dropdown-menu {
        text-align: center;
    }
}

.navbar-brand {
    border-right: 1px solid #efefef;
    padding: .75rem 1rem;
}

.navbar-light .navbar-nav .nav-item {
    .nav-link {
        color: rgba(0, 0, 0, 0.4);
        font-weight: 700;
    }
    &.active {
        color: black;
        .nav-link {
            color: black;
        }
    }
}

.navbar-light .navbar-toggler {
    border: 0;
}

// .navbar-light .navbar-toggler-icon {
    // background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1.0)");
// }

/* Page Styles */
.page-container {
    position: relative;
    min-height: 100%;
}

.page {
    padding-bottom: 84px;
}

.page-spacer {
    padding-bottom: 100px;
}

header {
    position: relative;
    background-size: contain;
    background-position: 50%;
    min-height: 340px;
    border-radius: 0 !important;
    // margin-top: -65px;

    &.jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #075b9a;
        border-bottom: 1px solid #f1f1f1;
        background-size: cover;
    }

    h1 {
        display: inline-block;
        background-color: white;
        padding: 1rem;
        font-size: 2rem;
        border-radius: 2px;
        color: black;
        box-shadow: 0px 0px 3px 0px #cacaca;
    }
    .lead {
        // text-shadow: 1px 1px 1px black;
        font-size: 2rem;
        // color: white !important;
        font-size: 1.5rem;
        // margin-top: -20px;
        color: white;
        text-align:center;
        // font-weight: 700;
        margin-top: 0;
    }
}


.btn-outline-secondary {
    border-color: #333333;
}

.btn-outline-primary {

    border-color: #187cc9;
}

.links {
    font-size: 1.15rem;
    line-height: 1.9;
}

.articles {
    padding-bottom: 10rem;
}

.articles {
    .card-text {
        font-size: 15px;
        line-height: 1.5rem;
        
    }
}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 4px;

    .card-title {
        margin-top: .5rem;
    }
}

.section-title {
    margin-top: 0;
    margin-bottom: 3.5rem;
    padding-bottom: 0;
    font-size: 36px;
    font-weight: 700;
}

.section-subtitle {
    margin-top: 0;
    padding-bottom: 0;
    font-weight: 400;
}

p {
    font-size: 18px;
}

footer {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #e1e4e6;
    font-size: 12px;
    color: #878d91;
    line-height: 1.8;
    
    p {
        font-size: 12px;
        color: #878d91;
        line-height: 1.8;
        margin-bottom: 0;
    }

    .social-link {
        display: inline-block;
        color: #6d6d6d;
        // color: #90bbf3;

        &:hover {
            color: #007bff;
        }

        .icon {
            font-size: 1rem;
            line-height: 0;
            vertical-align: middle;
        }
    }

    .coodoo-link {
        color: #6c757d;
        pointer-events: cursor;
        &:hover {
            text-decoration: none;
            .icon {
                color: #ff8158;
            }
        }
    }
}

.join-slack {
    display: inline-block;
    padding: 2rem;
    padding-top: 0;
    color: #333333;
    text-align: center;
    border: 1px solid transparent;
    
    &:hover {
        // background-color: #f8f9fa;
        // border-radius: 30px;
        cursor: pointer;
        // border-color: #ddd;
        text-decoration: none;
        color: black;
    }

    img {
        width: 240px;
    }
    strong {
        letter-spacing: 2.4px;
        margin-top: -24px;
    }

    .join-slack-word {
        margin-right: .7rem;
    }
}

.emoji {
    font-family: Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;
}

.bg-blue {
    background-color: rgba(2, 78, 134, 1.0);
}

/* DARK MODE */
.theme-light {
    .jumbotron {
        box-shadow: 0px 0px 5px 1px #efefef;
    }

}

.flutter_logo {
    max-width: 250px;
    border-radius: 3px;
    margin-bottom: 25px;
}

.autor {
    border-radius: 15px;
}

// special rule for meetup map

.meetupmap {
    height: 360px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    // background: url('/images/flutter-logo.png');
    // background-size: contain;
    // background: rgba(0,0,0,1.0);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11){
    left: 50%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 20s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@include media-breakpoint-up(md) {
    .navbar-collapse {
        form {
            justify-content: right;
        }
    }
    header {
        h1 {
            font-size: 2.5rem;
            padding: 1rem 2.6rem;
        }

        .lead {
            font-size: 1.8rem;
        }
    }
    .page {
        padding: 2rem 0;
    }
    
    .meetupmap {
        height: 550px;
    }
}

@include media-breakpoint-up(xl) {
    header {
        min-height: 400px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (min-width: 768px) {
    .flutter_logo {
        max-width: 400px;
    }
}

@media (min-width: 992px) {
    .flutter_logo {
        max-width: 450px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1600px) {
    header {
        min-height: 450px;
    }
}