{{ define "content" }}
<h1 class="blog-post-title text-center mb-2">Artikel</h1>
<p class="text-center mb-4">Wissenswertes zu Flutter auf deutsch!</p>
<div class="text-center mb-5">
    <a class="btn btn-primary text-center" target="_blank" rel="noopener"
        href="https://github.com/coodoo-io/flutter.de/blob/master/readme.md">Eigenen
        Artikel
        erstellen</a>
</div>
<div class="container articles pb-5">
    <div class="row">
        {{ range .Paginator.Pages }}
        <div class="col-12 col-md-4">
            <div class="card bg-light mb-5">
                <a href='{{ .Permalink }}' title='{{ .Title }}'>
                    <img src="{{ .Params.header_image }}" class="card-img-top" alt="{{ .Title }}" />
                </a>
                <div class="card-body">
                    <a href='{{ .Permalink }}' title='{{ .Title }}'>
                        <h5 class="card-title">{{ .Title }}</h5>
                    </a>
                    <p class="card-text">{{ slicestr .Summary 0 200 }}... <a class='btn-link' href='{{ .Permalink }}'
                            title='{{ .Title }}'>Weiterlesen</a></p>
                    <p class="card-text"><small
                            class="text-muted">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</small>
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <!-- Pagination -->
    {{ partial "pagination.html" . }}
</div>
{{ end }}