{{ define "content" }}
<div class="page-spacer">
  <header class="jumbotron mb-4">
    <ul class="circles">
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
      <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.38 23.69">
          <title>flutter-chevron-bg</title>
          <polygon points="6.77 18.61 25.38 0 11.85 0 0 11.85 6.77 18.61" style="fill:#fff;opacity:0.1" />
          <polygon points="25.38 23.69 6.77 5.08 0 11.85 11.85 23.69 25.38 23.69" style="fill:#fff;opacity:0.1" />
        </svg></li>
    </ul>
    <img class="flutter_logo" src="/images/flutter_de.png" alt="flutter logo">
    <!-- <h1>Flutter <span style="font-weight: 300;"> <span style="color:#000000;">\</span><span
          style="color: #dc1e04;">\</span><span style="color:#fc0;">\</span>
        Germany</span></h1> -->
    <p class="lead">Die deutsche Flutter&trade; Community für Neulinge und Experten!</p>
  </header>

  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-12">
        <h2 class="section-title">Was ist Flutter und was macht es so besonders?</h2>
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6 pr-5">
            <h2 class="section-subtitle pt-3">Schnelle Entwicklung</h2>

            <p>Mit Flutters Hot-Reload können Sie schnell und einfach experimentieren, Benutzeroberflächen erstellen,
              Funktionen hinzufügen und Fehler schneller beheben. Erleben Sie Ladezeiten von weniger als einer Sekunde,
              ohne den Status zu verlieren, auf Emulatoren, Simulatoren und Hardware für iOS und Android.</p>
            <h2 class="section-subtitle pt-3">UI/UX die begeistert</h2>

            <p>Begeistern Sie Ihre Benutzer mit Flutters integrierten Widgets für schönes Materialdesign und Cupertino
              (iOS-Geschmack), reichhaltigen Bewegungs-APIs, flüssigem natürlichem Scrollen und Plattformbewusstsein.
            </p>
            <h2 class="section-subtitle pt-3">Native Performance</h2>

            <p>Die Widgets von Flutter erleichtern jedem den Start, der Flutter lernen will. Sie enthalten alle
              kritischen Plattformunterschiede wie Bildlauf, Navigation, Symbole
              und Schriftarten, um sowohl auf iOS als auch auf Android die volle native Leistung zu bieten. So gelingt
              die Flutter App.</p>

          </div>
          <div class="col-md-6 pt-3">
            <h2 class="section-subtitle text-start">Flutter 101 Präsentation</h2>
            <p>Für unser erstes Flutter Meetup auf deutsch haben wir eine Präsentation erstellt. Diese erklärt in Kürze:
              Was ist Flutter?
              Wie benutze ich es? Welche Flutter Apps gibt es bereits? Und was sind die großen Vorteile von Flutter?
            </p>

            <iframe src="//www.slideshare.net/slideshow/embed_code/key/56Fg0P5QzTRnnS" width="595" height="485"
              frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
              style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
            </iframe>
            <div style="margin-bottom:5px"> <strong> <a
                  href="//www.slideshare.net/MarkusKhle/flutter-101-eine-kleine-einfhrung-flutter-rheinmain-meetup"
                  title="Flutter 101 - eine kleine Einführung - Flutter Rhein-Main Meetup" target="_blank">Flutter 101
                  –
                  Eine kleine Einführung</a> </strong> von <strong><a href="https://www.slideshare.net/MarkusKhle"
                  target="_blank">Markus Kühle</a></strong> </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">

    </div>
  </div>
  <!-- Bei Flutter teilnehmen -->
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-12">
        <hr />
        <h2 class="section-title mt-5">Die deutsche Flutter Community!</h2>
        <div class="row">
          <div class="col-md-4">
            <h2 class="section-subtitle">Artikel posten</h2>

            <p>Flutter.de ist die deutsche Community für alle begeisterten Flutter-User. Die Plattform dient dem
              Austausch, Lernen und gegenseitigem Helfen.
              Hast du schon erste Erfahrungen mit Flutter gesammelt? Vielleicht bereits eigene Anwendungen geschrieben
              und willst dein Wissen weitergeben? Auf Flutter.de
              hast du die Möglichkeit Artikel ganz einfach hinzuzufügen. Ob es nun How-Tos oder Bewertungen
              der zahlreichen Widgets sind - dir sind keine Grenzen gesetzt.
            </p>
            <a href="/artikel.html">
              <p>Artikel lesen oder schreiben</p>
            </a>
          </div>
          <div class="col-md-4">
            <h2 class="section-subtitle">Meetup teilnehmen</h2>

            <p>Du möchtest gleichgesinnte Flutteraner kennenlernen? Dann tritt einem Flutter-Meetup in deiner Nähe bei
              und gehe zu den angebotenen Events. Von Vorträgen
              für Anfänger, Projektvorstellungen und Hackathons ist alles dabei. Es gibt noch
              keine Gruppe in deiner Umgebung? Dann eröffne einfach eine und trage diese in unsere Meetup Liste ein.
            </p>
            <a href="/community/meetups.html">
              <p>Meetup finden</p>
            </a>
          </div>
          <div class="col-md-4">
            <h2 class="section-subtitle">Slack beitreten</h2>

            <p>Einer der besten Flutter First Steps ist, dem Flutter Slack Channel beizutreten. Der Channel ist eine
              tolle Plattform für alle Flutteraner in Deutschland, um sich über
              Neuigkeiten und Erfahrungen zu Flutter auszutauschen.
              Ein Job-Thread bietet einen zusätzlichen Raum, um schnell passende Stellenangebote zu finden oder zu
              posten.
            </p>
            <a href="https://join.slack.com/t/flutter-de/shared_invite/enQtNjYyODAzNDQ5MjUxLWNlOGUwNTUwMDA1ZTc2YmFlODhmMGZmMmVhOGJmYWIyYjBhYjY4Yjc5MDQ0MGJiY2ZjYTdhMzdhMDhlMTA4YjI"
              target="_blank" rel="noopener">
              <p>Slack Channel beitreten</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Termine -->
  <div class="container mb-4">
    <div id="myCarousel">
      <hr />
      {{/*  <h2 class="section-title text-center mt-5">Termine</h2>  */}}
      <h2 class="section-title text-center mt-5">Flutter Events in deiner Nähe</h2>
      <div class="carousel-inner row w-100 mx-auto">

        <div class="col-12 col-md-6 active">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <small class="text-muted">6. September 2019</small>
              <h5 class="card-title mt-2">Flutter Study Jam <span class="text-muted font-weight-normal">–
                  Wiesbaden Meetup</span></h5>
              <a href="https://www.meetup.com/de-DE/Google-Cloud-Community/events/263611156/" target="_blank"
                rel="noopener">
                <p class="card-text">Jetzt teilnehmen!</p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 active">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <small class="text-muted">24. September 2019</small>
              <h5 class="card-title mt-2">Flutter Stuttgart Meetup <span class="text-muted font-weight-normal">–
                  Stuttgart
                  Meetup</span></h5>
              <a href="https://www.meetup.com/de-DE/Flutter-Stuttgart/events/264424123/" target="_blank" rel="noopener">
                <p class="card-text">Jetzt teilnehmen!</p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="card bg-light  mb-3">
            <div class="card-body">
              <small class="text-muted">1. Oktober 2019</small>
              <h5 class="card-title mt-2">Flutter Study Jam <span class="text-muted font-weight-normal">– München
                  Meetup</span></h5>
              <a href="https://www.meetup.com/de-DE/Flutter-Munich/events/263334128/" target="_blank" rel="noopener">
                <p class="card-text">Jetzt teilnehmen!</p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="card bg-light  mb-3">
            <div class="card-body">
              <small class="text-muted">24. Oktober 2019</small>
              <h5 class="card-title mt-2">It's all Widgets! <span class="text-muted font-weight-normal">– Rhein-Main
                  Meetup</span></h5>
              <a href="https://www.meetup.com/de-DE/Rhein-Main-Flutter-Meetup/events/264491575/" target="_blank"
                rel="noopener">
                <p class="card-text">Jetzt teilnehmen!</p>
              </a>
            </div>
          </div>
        </div>


      </div>
      <div class="text-center pt-4">
        <a href="https://forms.gle/6UnowzS2joavvooU6" target="_blank" rel="noopener" class="btn btn-primary">Eigenen
          Flutter Termin eintragen</a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-12 text-center">
        <a href="https://join.slack.com/t/flutter-de/shared_invite/enQtNjYyODAzNDQ5MjUxLWNlOGUwNTUwMDA1ZTc2YmFlODhmMGZmMmVhOGJmYWIyYjBhYjY4Yjc5MDQ0MGJiY2ZjYTdhMzdhMDhlMTA4YjI"
          target="_blank" rel="noopener" class="join-slack">
          <img src="images/slack-mark.png" alt="slack logo">
          <strong class="d-block mb-3">TRITT DEM FLUTTER.DE SLACK CHANNEL BEI!</strong>
          <span class="join-slack-word">CHATTEN 😃</span><span class="join-slack-word">NETZWERKEN 👋</span><span
            class="join-slack-word">WACHSEN 🚀</span>
        </a>
      </div>
      <div class="col-12 text-center">
        <a href="https://join.slack.com/t/flutter-de/shared_invite/enQtNjYyODAzNDQ5MjUxLWNlOGUwNTUwMDA1ZTc2YmFlODhmMGZmMmVhOGJmYWIyYjBhYjY4Yjc5MDQ0MGJiY2ZjYTdhMzdhMDhlMTA4YjI"
          target="_blank" class="btn btn-link mb-5" rel="noopener"><img src="/images/btn-add-to-slack.png"
            alt="slack logo" style="width: 140px;"></a>
      </div>
    </div>
  </div>
</div>
{{ end }}