{{ define "content" }}
<div class="page-spacer">
    <header class="jumbotron text-center">
      <h1>Flutter <span style="font-weight: 300;"> <span style="color:#000000;">\</span><span
            style="color: #dc1e04;">\</span><span style="color:#fc0;">\</span> Germany</span></h1>
      <p class="lead text-muted">The german flutter community, it's all widgets!</p>
    </header>
  
    <section class="container p-5">
      <div class="card bg-light w-100">
        <div class="card-body text-center">
          <h5 class="card-title mt-2">First Rhein-Main Meetup</h5>
          <p class="card-text">Getting started, Flutter basics! Teilnehmen --></p>
        </div>
      </div>
    </section>
  
    <div class="container">
      <div class="row pt-5 pb-5">
        <div class="col-12">
          <h2 class="section-title">Was macht Flutter so besonders?</h2>
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Fast development</h2>
              <p>Flutter's hot reload helps you quickly and easily experiment, build UIs, add features, and fix bugs
                faster.
                Experience sub-second reload times, without losing state, on emulators, simulators, and hardware for iOS
                and
                Android.</p>
              <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
            </div>
            <div class="col-md-4">
              <h2>Expressive, beautiful UIs</h2>
              <p>Delight your users with Flutter's built-in beautiful Material Design and Cupertino (iOS-flavor) widgets,
                rich motion APIs, smooth natural scrolling, and platform awareness. <a
                  href="https://flutter.dev/docs/development/ui/widgets/catalog">Browse the widget catalog</a></p>
              <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
            </div>
            <div class="col-md-4">
              <h2>Native Performance</h2>
              <p>Flutter’s widgets incorporate all critical platform differences such as scrolling, navigation, icons and
                fonts to provide full native performance on both iOS and Android.</p>
              <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pt-5 pb-5">
        <div class="col-12">
          <hr />
          <h2 class="section-title mt-5">How to Contribute?</h2>
          <p>Every Service call will return a promise with the information about the closing of the dialog. In the
            <b>then</b> function the approval of the Dialog will be catched in the <b>catch</b> block the dismissal. The
            data will contain
            an object with the key status for the information about the state. In the Prompt dialog there will also be a
            value key with the information from the input field.
            <b>Alert</b> and <b>Confirm</b> only have a accept button so yu can only close them and get the status
            information
            in the
            <b>then block</b>.</p>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row pt-5 pb-5">
        <div class="col-12 text-center">
          <a href="https://flutter-de.slack.com/messages" target="_blank" class="join-slack mb-5">
            <img src="images/slack-mark.png">
            <strong class="d-block">JOIN THE SLACK CHANNEL</strong>
            <span class="mr-2">CHATTEN 😃</span><span class="mr-2">NETZWERKEN 👋</span><span class="mr-2">WACHSEN 🚀</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{{ end }}