<div class="container page-spacer">
    {{/*  <a href="/artikel" class="btn btn-link mt-3" style="position: absolute; left: 30px;color: #333333;">< Zurück</a>  */}}
    <article class="blog-post">
        <h1 class="blog-post-title">{{ .Title }}</h1>
        <span class="blog-post-date mb-0">{{ dateFormat "2. January 2006" .Date }}</span>
        <span class="blog-post-date mb-0">{{ .ReadingTime}} Minute Lesezeit, {{ .WordCount}} Wörter</span>
        <img src="{{ .Params.header_image }}" class="blog-post-title-image mt-5" alt="{{ .Title }}" />
        <div class="blog-post-content mt-5 mb-5">{{ .Content }}</div>
        <div class="blog-post-author bg-light">
            <div class="row">
                <div class="col-8">
                    <img class="float-left img-fluid circle">
                    <strong>Author:</strong>
                    <small>{{ .Params.Author }}</small>
                    {{/*  <small class="text-muted">Blogging about stuff</small>  */}}
                    <div>
                        {{- if isset .Params "Author" -}}
                            <a href="https://github.com/{{ . }}" class="btn btn-sm btn-outline-primary" target="_blank">Github</a>
                        {{- end -}}
                        {{/*  {{- if .Params.Author -}}
                            <a href="https://twitter.com/{{ .Params.Author }}" class="btn btn-sm btn-outline-secondary" target="_blank">Twitter</a>
                        {{- end -}}  */}}
                    </div>
                </div>

                <div class="col-4 text-right">
                    {{/*  <a href="#" class="btn btn-primary">Tweet</a>
                    <a href="#" class="btn btn-secondary ml-3">Share</a>  */}}
                </div>
            </div>
        </div>
    </article>
    {{/*  <div class="kommentare">
        <!-- Disqus Kommentare -->
        {{- $.Scratch.Set "isDisqus" true -}}

        {{- if and (isset .Params "type") (in (.Site.Params.disableDisqusTypes | default (slice "page")) .Params.type) -}}
        {{- $.Scratch.Set "isDisqus" false -}}
        {{- end -}}

        {{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
        {{- $.Scratch.Set "isDisqus" false -}}
        {{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
        {{- $.Scratch.Set "isDisqus" true -}}
        {{- end -}}

        {{- if eq ($.Scratch.Get "isDisqus") true -}}
        {{- partial "disqus.html" . -}}
        {{- end -}}
    </div>  */}}
</div>