<footer class="footer text-center p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 text-md-left text-center">
                <p><a class="text-muted d-inline-block p-2" href="/impressum">Impressum</a> <a
                        class="text-muted d-inline-block p-2" href="/datenschutz">Datenschutz</a>
                </p>
            </div>
            <div class="col-md-4 text-md-right text-center">
                <ul class="d-inline list-inline mb-3">
                    <li class="list-inline-item"><a class="social-link p-2"
                            href="https://flutter-de.slack.com/messages" target="_blank" data-toggle="tooltip" data-placement="top" title="Slack"><i
                                class="icon icon-slack"></i></a></li>
                    <li class="list-inline-item"><a class="text-color social-link p-2"
                            href="https://twitter.com/de_flutter" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="icon icon-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="text-color social-link p-2"
                            href="https://www.meetup.com/de-DE/Rhein-Main-Flutter-Meetup" target="_blank" data-toggle="tooltip" data-placement="top" title="Meetup"><i
                                class="icon icon-meetup"></i></a></li>
                </ul>
                <a href="https://coodoo.de" target="_blank" class="coodoo-link ml-5">Build with <i class="icon icon-fire"></i> in Mainz.</a>
            </div>
        </div>
    </div>
</footer>

<!-- <script defer src="{{ "js/material.min.js" | absURL }}"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>