<title>{{ .Title | default .Site.Title }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<meta name="description" content="{{.Description}}" />
<meta name="author" content="coodoo GmbH">

<!-- CookiePro Cookie-Einwilligungshinweis – Anfang für flutter.de -->
<!-- <script src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8"
    data-domain-script="afddbfb8-7b40-4c6a-b486-5236f0536e1c"></script> -->
<script type="text/javascript">
    function OptanonWrapper() { }
</script>
<!-- CookiePro-Cookie-Einwilligungshinweis – Ende für flutter.de -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PGW287J');</script>
<!-- End Google Tag Manager -->



{{ template "_internal/opengraph.html" . }}

{{ if .Site.IsServer }}
{{ $cssOpts := (dict "targetPath" "css/coder.css" "enableSourceMap" true ) }}
{{ $styles := resources.Get "scss/styles.scss" | resources.ExecuteAsTemplate "style.coder.css" . | toCSS $cssOpts }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
{{ else }}
{{ $cssOpts := (dict "targetPath" "css/styles.css" ) }}
{{ $styles := resources.Get "scss/styles.scss" | resources.ExecuteAsTemplate "style.coder.css" . | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"
    crossorigin="anonymous" media="screen" />

{{ template "_internal/google_analytics_async.html" . }}

{{ end }}