<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}de-DE{{ end }}">
{{- partial "head.html" . -}}

{{ $bootstrapDarkTheme := .Param "light_mode" }}

<body {{ with $bootstrapDarkTheme }} class="theme-light" {{end}}>
    <div class="page-container">
        {{- partial "header.html" . -}}
        {{- block "content" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>